<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'load/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<ul class="conteyner_stancoon">

{%for i in object_list%}




<table style="width:150px; border-collapse: collapse;">
    <thead>
        <tr>
            <th colspan="2" style="border: 1px solid black;">{{i.data}}</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="100px" rowspan="5" style="border: 1px solid black;">{{i.title}}</td>
            <td width="50px" style="border: 1px solid black;">{{i.namber_1}}</td>


        </tr>
        <tr>
            <td style="border: 1px solid black;">{{i.namber_2}}</td>

        </tr>
    <tr>
            <td style="border: 1px solid black;">{{i.namber_3}}</td>

        </tr>
    </tr>
    <tr>
            <td style="border: 1px solid black;">{{i.namber_4}}</td>

        </tr>
    </tr>
    <tr>
            <td style="border: 1px solid black;">{{i.namber_5}}</td>

        </tr>
    </tr>

    </tbody>
</table>
{%endfor%}
    </ul>
</body>
</html>

